@model DDVTracker.Models.Ingredient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameVersion.GameVersionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngredientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngredientCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellsFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellsFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Energy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Energy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrowTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrowTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Water)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Water)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IngredientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
