@model IEnumerable<DDVTracker.Models.Ingredient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="modelDisplay" class="table">
    <thead>
        <tr>
            <th>
                Game Version
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Buy
            </th>
            <th>
                Sell
            </th>
            <th>
                Energy
            </th>
            <th>
                Grow Time
            </th>
            <th>
                Watering
            </th>
            <th>
                Yields
            </th>
            <th>
                Acquired By
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameVersion.GameVersionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellsFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Energy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrowTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Water)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yield)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IngredientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IngredientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IngredientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
