@model DDVTracker.Models.Meal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameVersion.GameVersionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MealIngredients)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var mealIngredient in Model.MealIngredients)
                {
                    <li>@mealIngredient.Ingredient.IngredientName</li>
                }
            </ul>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellsFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellsFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Energy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Energy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MealId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
