@model IEnumerable<DDVTracker.Models.Meal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="modelDisplay" class="table">
    <thead>
        <tr>
            <th>
                Game Version
            </th>
            <th>
                Meal Name
            </th>
            <th>
                Meal Type
            </th>
            <th>
                Stars
            </th>
            <th>
                Sell
            </th>
            <th>
                Energy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameVersion.GameVersionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellsFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Energy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MealId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MealId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MealId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>