@model IEnumerable<DDVTracker.Models.Meal>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Meals";
}

<h1>Meals</h1>
@{
    // Only show the create button if the user is signed in and is not a regular user
    if (SignInManager.IsSignedIn(User) && !User.IsInRole(IdentityHelper.User))
    {
<p>
            <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
    }
}
<table id="modelDisplay" class="table">
    <thead>
        <tr>
            <th>
                Game Version
            </th>
            <th>
                Meal Name
            </th>
            <th>
                Meal Type
            </th>
            <th>
                Stars
            </th>
            <th>
                Sell
            </th>
            <th>
                Energy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameVersion.GameVersionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellsFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Energy)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MealId">Details</a> 
                    @{
                        // Only show the edit and delete buttons if the user is signed in and is not a regular user
                        if (SignInManager.IsSignedIn(User) && !User.IsInRole(IdentityHelper.User))
                        {
                            <a asp-action="Edit" asp-route-id="@item.MealId">| Edit</a>
                            <a asp-action = "Delete" asp - route - id = "@item.MealId">| Delete </a>
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>