@model DDVTracker.Models.Fish

@{
    Layout = null;
}

<div>
    <dl class="row">
        <dd class="col">
            @Html.DisplayFor(model => model.FishName)
        </dd>
        <dd class="col">
            @if (!string.IsNullOrEmpty(Model.ImageBase64))
            {
                <img src="data:image/jpeg;base64,@Model.ImageBase64" alt="Fish Image" />
            }
            else
            {
                <p>No image available</p>
            }
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col">
            Game Version:
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.GameVersion.GameVersionName)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col">
            Ripple Color:
        </dt>
        <dd class="col">
            @Html.DisplayFor(model => model.RippleColor)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col">
            Can be found in:
        </dt>
        <dd class = "col-7">
            <ul>
                @foreach (var fishLocation in Model.FishLocations)
                {
                    <li>@fishLocation.Location.LocationName</li>
                }
            </ul>
        </dd>
    </dl>
    <dl class="row">
        <dt class="col">
            Notes: 
        </dt>
        <dd class="col-10">
            @if (!string.IsNullOrEmpty(Model.Notes))
            {

                @Html.DisplayFor(model => model.Notes)
            }
        </dd>
    </dl>
</div>
