@model DDVTracker.Models.Fish

@{
    ViewData["Title"] = "Fish - Details";
}

<h1>Details</h1>

<div>
    <h4>Fish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameVersion.GameVersionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishImage)
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageBase64))
            {
                <img src="data:image/jpeg;base64,@Model.ImageBase64" alt="Fish Image" width="100" />
            }
            else
            {
                <p>No image available</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishLocations)
        </dt>
        <dd class = "col-sm-10">
            <ul>
                @foreach (var fishLocation in Model.FishLocations)
                {
                    <li>@fishLocation.Location.LocationName</li>
                }
            </ul>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RippleColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RippleColor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FishId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
