@model IEnumerable<DDVTracker.Models.Fish>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Fish";
}

<h1>Fish</h1>
@{
    // Only show the create button if the user is signed in and is not a regular user
    if (SignInManager.IsSignedIn(User) && !User.IsInRole(IdentityHelper.User))
    {
        <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
    }
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col">
                <div class="card" style="border-color: @item.RippleColor;">
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(item.ImageBase64))
                        {
                            <img src="data:image/jpeg;base64,@item.ImageBase64" width="200" alt="Fish Image" class="img-fluid" />
                        }
                        else
                        {
                            <p>No image available</p>
                        }
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.FishName)</h5>
                        <h6 class="card-subtitle">@Html.DisplayFor(modelItem => item.GameVersion.GameVersionName)</h6>
                        <ul>
                            @foreach (var fishLocation in item.FishLocations)
                            {
                                <li>@fishLocation.Location.LocationName</li>
                            }
                        </ul>
                        <a asp-action="Details" asp-route-id="@item.FishId" class="btn btn-primary">Details</a>

                        @{
                            // Only show the edit and delete buttons if the user is signed in and is not a regular user
                            if (SignInManager.IsSignedIn(User) && !User.IsInRole(IdentityHelper.User))
                            {
                                <a asp-action="Edit" asp-route-id="@item.FishId" class="btn btn-primary">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.FishId" class="btn btn-danger">Delete</a>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
