@model IEnumerable<DDVTracker.Models.Fish>

@{
    ViewData["Title"] = "Fish";
}

<h1>Fish</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2">
                <div class="card" style="border-color: @item.RippleColor;">
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(item.ImageBase64))
                        {
                            <img src="data:image/jpeg;base64,@item.ImageBase64" alt="Fish Image" class="img-fluid" />
                        }
                        else
                        {
                            <p>No image available</p>
                        }
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.FishName)</h5>
                        <h6 class="card-subtitle">@Html.DisplayFor(modelItem => item.GameVersion.GameVersionName)</h6>
                        	<p>@string.Join(", ", item.FishLocations.Select(fl => fl.Location.LocationName))</p>

                        @{
                            if (User.IsInRole(IdentityHelper.User))
                            {
                                <a asp-action="Details" asp-route-id="@item.FishId" class="btn btn-primary">Details</a>
                            }
                            if (User.IsInRole(IdentityHelper.User) || User.IsInRole(IdentityHelper.Master)
                            || User.IsInRole(IdentityHelper.Admin) || User.IsInRole(IdentityHelper.Moderator))
                            {
                                <a asp-action="Edit" asp-route-id="@item.FishId" class="btn btn-primary">Edit</a>
                            }
                            if (User.IsInRole(IdentityHelper.Master) || User.IsInRole(IdentityHelper.Admin) || User.IsInRole(IdentityHelper.Moderator))
                            {
                                <p>
                                    <a asp-action="Delete" asp-route-id="@item.FishId" class="btn btn-danger">Delete</a>
                                </p>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
