@model IEnumerable<DDVTracker.Models.Character>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Characters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Characters</h1>
@{
    // Only show the create button if the user is signed in and is not a regular user
    if (SignInManager.IsSignedIn(User) && !User.IsInRole(IdentityHelper.User))
    {
        <p>
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
    }
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(item.ImageBase64))
                        {
                            <img src="data:image/jpeg;base64,@item.ImageBase64" alt="Character Image" class="img-fluid" />
                        }
                        else
                        {
                            <p>No image available</p>
                        }
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.CharacterName)</h5>
                        <h6 class="card-title">@Html.DisplayFor(modelItem => item.GameVersion.GameVersionName)</h6>

                        @{
                            if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-action="Details" asp-route-id="@item.CharacterId" class="btn btn-primary">Details</a>
                            }
                            if (SignInManager.IsSignedIn(User) && !User.IsInRole(IdentityHelper.User))
                            {
                                <a asp-action="Edit" asp-route-id="@item.CharacterId" class="btn btn-primary">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.CharacterId" class="btn btn-danger">Delete</a>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
