@model IEnumerable<DDVTracker.Models.Character>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Characters</h1>
@{
    if (User.IsInRole(IdentityHelper.Master) || User.IsInRole(IdentityHelper.Admin) || User.IsInRole(IdentityHelper.Moderator))
    {
        <p>
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
    }
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(item.ImageBase64))
                        {
                            <img src="data:image/jpeg;base64,@item.ImageBase64" alt="Character Image" class="img-fluid" />
                        }
                        else
                        {
                            <p>No image available</p>
                        }
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.CharacterName)</h5>


                        <p class="card-text">@Html.DisplayFor(modelItem => item.isUnlocked)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.CharacterLevel)</p>
                        <a asp-action="Edit" asp-route-id="@item.CharacterId" class="btn btn-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.CharacterId" class="btn btn-primary">Details</a>
                        @{
                            if (User.IsInRole(IdentityHelper.Master) || User.IsInRole(IdentityHelper.Admin) || User.IsInRole(IdentityHelper.Moderator))
                            {
                                <p>
                                    <a asp-action="Delete" asp-route-id="@item.CharacterId" class="btn btn-danger">Delete</a>
                                </p>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
